.muti-choice{
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    display: flex;
    gap: 2rem;
    padding: 2rem;
    img{
        width: 80px;
        height: 80px;
    }
    .muti-choice1{
      display: flex;
      gap: 5px;
      .line{
        display: flex;
        margin-top: 5px;
        background-color: white;
        width: 2px;
        height: 15px;
      }
    }
    .muti-choice2{
        display: flex;
        gap: 1rem;
        font-size: 23px;
    }
}
@media(max-width:480px){
    .muti-choice{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: aliceblue;
        display: flex;
        gap: 2rem;
        img{
            width: 80px;
            height: 80px;
        }
        .muti-choice1{
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          gap: 5px;
          .line{
            display: flex;
            margin-top: 5px;
            background-color: white;
            width: 2px;
            height: 15px;
          }
        }
        .muti-choice2{
            display: flex;
            gap: 1rem;
            font-size: 23px;
        }
    } 
}
